name: petfriends
services:
  gateway-service:
    build:
      dockerfile: petfriends-gateway/Dockerfile
    ports:
      - "8080:8080"
    environment:
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_CLOUD_CONSUL_PORT: 8500
      SERVICE_HOST: gateway-service

  almoxarifado-service:
    build:
      dockerfile: petfriends-almoxarifado/Dockerfile
    ports:
      - "8081:8081"
    environment:
      MONGODB_URI: mongodb://almoxarifado-db:27017/almoxarifado
      MONGODB_DATABASE: almoxarifado
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_CLOUD_CONSUL_PORT: 8500
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SERVICE_HOST: almoxarifado-service
    depends_on:
      kafka:
        condition: service_healthy
      almoxarifado-db:
        condition: service_healthy

  pedido-service:
    build:
      dockerfile: petfriends-pedido/Dockerfile
    ports:
      - "8082:8082"
    environment:
      MONGODB_URI: mongodb://pedido-db:27017/pedido
      MONGODB_DATABASE: pedido
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_CLOUD_CONSUL_PORT: 8500
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SERVICE_HOST: pedido-service
    depends_on:
      kafka:
        condition: service_healthy
      pedido-db:
        condition: service_healthy

  transporte-service:
    build:
      dockerfile: petfriends-transporte/Dockerfile
    ports:
      - "8083:8083"
    environment:
      MONGODB_URI: mongodb://transporte-db:27017/transporte
      MONGODB_DATABASE: transporte
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_CLOUD_CONSUL_PORT: 8500
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SERVICE_HOST: transporte-service
    depends_on:
      kafka:
        condition: service_healthy
      pedido-db:
        condition: service_healthy

  almoxarifado-db:
    image: mongo:8.2.2-rc0-noble
    expose:
      - "27017"
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 10s
      timeout: 5s
      retries: 5

  pedido-db:
    image: mongo:8.2.2-rc0-noble
    expose:
      - "27017"
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 10s
      timeout: 5s
      retries: 5

  transporte-db:
    image: mongo:8.2.2-rc0-noble
    expose:
      - "27017"
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 10s
      timeout: 5s
      retries: 5

  kafka:
    image: confluentinc/cp-kafka:8.1.0
    ports:
      - "9092:9092"
    environment:
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_LISTENERS: "CONTROLLER://0.0.0.0:9093"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_LISTENERS: "PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: [ "CMD-SHELL", "kafka-broker-api-versions --bootstrap-server localhost:9092 | grep '1'" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  consul:
    image: hashicorp/consul:latest
    ports:
      - "8500:8500"
      - "8600:8600/udp"
    command: "agent -dev -client=0.0.0.0 -ui"
