server:
  port: 8080

spring:
  application:
    name: petfriends-gateway
  cloud:
    consul:
      discovery:
        health-check-path: /actuator/health
        health-check-url: http://${SERVICE_HOST}:${server.port}/actuator/health
        health-check-interval: 10s
        prefer-ip-address: true

    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
