server:
  port: 8082

spring:
  application:
    name: petfriends-pedido

  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: ${MONGODB_DATABASE}
      auto-index-creation: true

axon:
  axonserver:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health